<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="botToken" value=[Bot Token Here]/>
    <add key="connectionString" value="Data Source=WestMarchesDev.sqlite;version=3"/>
    <add key="dmChannel" value ="419274880320798720"/>
    <add key="dmRoleId" value ="420575564668207124"/>
    <add key="commandPrefix" value ='!'/>
  </appSettings>
</configuration>
