<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="botToken" value="NDE5MTk1MTQyOTQ0MTk0NTcw.DXslcw.A0gAiwzmjLaNXH6UARrTWVbz5dw"/>
    <add key="connectionString" value="Data Source=WestMarches.sqlite;version=3"/>
    <add key="dmChannel" value ="419274880320798720"/>
    <add key="dmRoleId" value ="420575564668207124"/>
    <add key="commandPrefix" value ='!'/>
  </appSettings>
</configuration>