<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="botToken" value=[Bot Token Here]/>
    <add key="connectionString" value=[SQLite Connection String]/>
    <add key="dmChannel" value =[dm Channel Id]/>
    <add key="dmRoleId" value =[Guild DM Role]/>
    <add key="commandPrefix" value ='!'/>
  </appSettings>
</configuration>
